VITE_GOOGLE_CLIENT_ID=979562784305-qv4cn7nkbs9evd9b6d3dg1okvd96qmsj.apps.googleusercontent.com
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxo6G9kHuFoehKhQX4OjuXdqWP9gBgdzZtetVUIegfZxsoHz1MsL3NYSpvPZ5ffdhjewg/exec

# Backend API Base URL (http://localhost:5000 in dev, backend server URL in production)
VITE_API_URL=http://localhost:5000

# Razorpay Test Key ID (ex: rzp_test_xxxxxxxxxxxx)
VITE_RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
